@{
    ViewData["Title"] = "Home";
}
@model IndexUserViewModel

<div class="logged-user-index">
    @if (Model.SignUpCourses.Any())
    {
        <div class="informations">
            <div class="close">
                X
            </div>
            <div class="information">
                <h2 class="orange-text">Registration session for upcoming courses</h2>
                <div>
                    We would like to remind you that you are currently enrolling in courses.
                    If you want to enroll in one of the following courses on the following dates:
                    <ul class="no-bullets">
                        @foreach (var course in Model.SignUpCourses)
                        {
                            <li>
                                <a asp-controller="Course" asp-action="ViewCourse" asp-route-courseId="@course.Id">
                                    @course.Name 
                                </a>
                                 - from @course.SignUpStartDate to @course.SignUpEndDate (including)
                            </li>
                        }
                    </ul>
                    Just click the link and then click the sign up button in the bottom of the page
                </div>
            </div>
        </div>
    }
    <div class="cards">
        <div class="card-holder">
            <div class="card-header capitalize">Мy courses</div>
            <div class="card-info">
                <ul>
                    @if (Model.Courses.Any())
                    {
                        @foreach (var course in Model.Courses)
                        {
                            <li class="info-item courses">
                                <a asp-action="ViewCourse" asp-controller="Course" asp-route-courseId="@course.Id">
                                    @course.Name
                                    <span class="arrow-right">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="info-item">
                            You currently have no courses enrolled
                        </li>
                    }
                </ul>
            </div>
            <div class="card-links credits regal-blue">
                Total points: @Model.Credits
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">My Surveys</div>
            <div class="card-info">
                <ul>
                    @if (Model.Surveys.Any())
                    {
                        @foreach (var survey in Model.Surveys)
                        {
                            <li class="info-item">
                                <a asp-action="Take" asp-controller="Survey" asp-route-surveyId="@survey.Id">
                                    @survey.Name
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="info-item">
                            There are no available surveys at the moment
                        </li>
                    }
                </ul>
            </div>
            <div class="card-links">
                <a href="#" class="primary-btn base-btn mb-2">All surveys</a>
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">Мy Resources</div>
            <div class="card-info">
                <ul>
                    @if (Model.Resources.Any())
                    {
                        @foreach (var resource in Model.Resources)
                        {
                            <li class="info-item">
                                <a asp-action="Show" asp-controller="Resource" asp-route-resourceId="@resource.Id">
                                    @resource.Name
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="info-item">
                            There are no available resources at the moment
                        </li>
                    }
                </ul>
            </div>
            <div class="card-links">
                <a href="#" class="primary-btn base-btn mb-2">All resources</a>
            </div>
        </div>
    </div>
</div>