@model DeemZ.Models.ViewModels.Administration.AdministrationCoursesViewModel
@{
    Layout = "_AdminPanelLayout";
    ViewData["Title"] = "Courses";
}

<div class="container-fluid">
    <div class="text-center mt-5">
        <a asp-controller="Course" asp-action="Add" class="btn btn-success">Add Course</a>
    </div>
    <table class="table table-striped table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Credits</th>
                <th scope="col">Price</th>
                <th scope="col">Signed Up Users</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td><a class="text-light" asp-action="ViewCourse" asp-controller="Course" asp-route-courseId="@course.Id" >@course.Name</a></td>
                    <td>@course.StartDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@course.EndDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@course.Credits</td>
                    <td>@course.Price</td>
                    <td>@course.SignedUpUsers</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Course" asp-action="Edit" asp-route-courseId="@course.Id">Edit</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="Lectures" asp-route-courseId="@course.Id">Lectures</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" asp-controller="Course" asp-action="Delete" asp-route-courseId="@course.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Courses" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Courses" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Courses" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>