@model DeemZ.Models.ViewModels.Administration.AdministrationExamsViewModel
@{
    Layout = "_AdminPanelLayout";
    ViewData["Title"] = "Exams";
}

<div class="container-fluid">
    <div class="text-center mt-5">
        <a asp-controller="Exam" asp-action="Add" asp-route-courseId="@Model.CourseId" class="btn btn-success">Add Exam</a>
    </div>
    <table class="table table-striped table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Max Points</th>
                <th scope="col">Is Public</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model.Exams)
            {
                <tr>
                    <td><a class="text-light" asp-action="ViewCourse" asp-controller="Course" asp-route-courseId="@exam.Id">@exam.Name</a></td>
                    <td>@exam.StartDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@exam.EndDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@exam.MaxPoints</td>
                    <td>@exam.IsPublic</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Exam" asp-action="Edit" asp-route-examId="@exam.Id">Edit</a>
                                <a class="dropdown-item" asp-controller="Question" asp-action="Add" asp-route-examId="@exam.Id">Add Question</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" asp-controller="Course" asp-action="Delete" asp-route-courseId="@exam.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>