@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminPanelLayout";
}
@model DeemZ.Models.ViewModels.Administration.AdministrationIndexViewModel

<div class="container-fluid">
    <div class="cards">
        <div class="card user-card">
            <h4>Total users</h4>
            <h3>@Model.UsersCount</h3>
        </div>
        <div class="card this-month-money-card">
            <h4>This month earned money</h4>
            <h3>$@Model.MoneyEarnedThisMonth</h3>
        </div>
        <div class="card total-courses-card">
            <h4>Total courses</h4>
            <h3>@Model.TotalCourses</h3>
        </div>
        <div class="card this-month-user-card">
            <h4>This month sign up users</h4>
            <h3>@Model.UsersSignedUpThisMonth</h3>
        </div>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Course Name</th>
                <th scope="col">Is Paid</th>
                <th scope="col">Paid On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userCourse in Model.UserCourses)
            {
                <tr>
                    <td>@userCourse.UserName</td>
                    <td>@userCourse.CourseName</td>
                    <td>@userCourse.IsPaid</td>
                    <td>@userCourse.PaidOn.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>