@{
    ViewData["Title"] = "Lectures";
    Layout = "_AdminPanelLayout";
}
@model DeemZ.Models.ViewModels.Administration.IndexLecturesViewModel

<div class="container-fluid">
    <div class="text-center mt-5">
        <a asp-controller="Lecture" asp-route-courseId="@Model.CourseId" asp-action="Add" class="btn btn-success">Add Lecture</a>
    </div>
    <table class="table table-striped table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">Resource Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lecture in Model.Lectures)
            {
                <tr>
                    <td>@lecture.Name</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Lecture" asp-action="Edit" asp-route-courseId="@lecture.Id">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Lectures" asp-route-courseId="@Model.CourseId" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Lectures" asp-route-courseId="@Model.CourseId" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Lectures" asp-route-courseId="@Model.CourseId" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>