@{
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
    ViewData["Title"] = "Edit Lecture";
}
@model DeemZ.Models.FormModels.Lecture.EditLectureFormModel

<div class="container-fluid">
    <form method="post" class="mt-4">
        <div class="form-group text-center">
            <h2 class="text-light">@ViewData["Title"]</h2>
        </div>
        <input hidden readonly asp-for="CourseId" />
        <div class="form-group">
            <label class="text-light" asp-for="Name"></label>
            <input placeholder="Refleciton" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Date"></label>
            <input class="form-control" asp-for="Date" />
            <span asp-validation-for="Date" class="small text-danger"></span>
        </div>
        @for (int i = 0; i < Model.Descriptions.Count(); i++)
        {
            var description = Model.Descriptions.ToArray()[i];
            <div class="form-group position-relative">
                <input class="form-control" value="@description.Id" name="Descriptions[@i].Id" hidden readonly />
                <input class="form-control" value="@description.Name" name="Descriptions[@i].Name" />
                <div data-key="@description.Id" class="close remove-description clickable">X</div>
            </div>
        }
        <div class="form-group">
            <input class="form-control btn btn-success" value="Add Description" id="add-description" type="submit" />
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        let index = @Model.Descriptions.Count();
        document.getElementById('add-description').addEventListener('click', function (e) {
            e.preventDefault();
            let parentDiv = e.currentTarget.parentNode;

            let html = `<div class="form-group">
                    <input class="form-control" required minLength="3" maxLength="40" name="Descriptions[${index}].Name" />
                </div>`;

            $(html).insertBefore(parentDiv);
            index++;
        })

        document.querySelectorAll('.remove-description').forEach(el => {
            el.addEventListener('click', e => {
                let closeDiv = e.currentTarget;
                let id = closeDiv.getAttribute('data-key');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteDescription", "Lecture")',
                    data: {
                        did : id
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (result) {
                        if (result.status == 200) {
                            closeDiv.parentNode.remove();
                        } else {
                            console.log(result);
                        }
                    },
                    error: function (err) {
                        console.log(err.status);
                    }
                });
            })
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}