f@{
    ViewData["Title"] = "Forum";
}
@model AllForumTopicsViewModel


<div class="forum-holder">
    <div class="forum-heading">
        <h1>Welcome to @ViewData["Title"] where you can ask questions that excite you.</h1>
        <h3>Click <a asp-controller="Forum" asp-action="Create">here</a> to add new topic</h3>
    </div>
    <form class="form" method="get">
        <div class="inner-addon solid-border">
            <i id="search-icon" class="fas fa-search right-position clickable poiner-events-auto" aria-hidden="true"></i>
            <input name="Search" class="padding-left-20px padding-right-60px" placeholder="Search" type="text">
        </div>
        <input type="submit" hidden id="forum-search" />
    </form>
    <div class="topics-holder flex">
        @foreach (var topic in Model.Topics)
        {
            <div class="topic flex">
                <img src="@topic.UserProfileImgUrl" />
                <a asp-controller="Forum" asp-action="Topic" asp-route-topicId="@topic.Id">
                    <div>
                        <div class="topic-heading">
                            <p class="small custom-text-muted">From: @topic.Username; posted on @topic.CreatedOn</p>
                            <h2>@topic.Title</h2>
                        </div>
                        <div class="topic-information">
                            @topic.Description
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a asp-controller="Forum" asp-action="Index" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a asp-controller="Forum" asp-action="Index" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a asp-controller="Forum" asp-action="Index" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>