@model ViewModelTest
@{
    //var formModel = new AddMainCommentFormModel();
    ViewData["Title"] = Model.ViewModel.Title;
}

<div class="forum-holder">
    <div class="topics-holder flex">
        <div class="topic flex">
            <img src="@Model.ViewModel.UserProfileImg" />
            <div>
                <div class="topic-heading">
                    <p class="small custom-text-muted">From: @Model.ViewModel.Username</p>
                    <h2>@Model.ViewModel.Title</h2>
                </div>
                <div class="topic-information">
                    @Model.ViewModel.Description
                </div>
            </div>
        </div>
    </div>
    <div class="comments-holder">
        <h3 class="text-center">Comments seciton</h3>

        <form method="post" asp-action="PostComment" asp-route-topicId="@Model.ViewModel.Id">
            <textarea  asp-for="@Model.FormModel.Text"></textarea>
            <span asp-validation-for="@Model.FormModel.Text"></span>
            <input type="submit" value="Submit"/>
        </form>

        @if (Model.ViewModel.Comments.Any())
        {
            @foreach (var comment in Model.ViewModel.Comments)
            {
                <div class="comment">
                    <div class="main-comment">
                    </div>
                    <div class="answers">
                        @foreach (var answer in comment.Answers)
                        {
                            <div class="answer">

                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="text-center">There are no comments yet. Be the first to comment</h3>
        }
    </div>
</div>