@model ViewAndFormModelForTopics
@{
    ViewData["Title"] = Model.ViewModel.Title;
}

<div class="forum-holder">
    <div class="topics-holder flex">
        <div class="topic flex">
            <img src="@Model.ViewModel.UserProfileImg" />
            <div>
                <div class="topic-heading">
                    <p class="small custom-text-muted">From: @Model.ViewModel.Username; posted on @Model.ViewModel.CreatedOn</p>
                    <h2>@Model.ViewModel.Title</h2>
                </div>
                <div class="topic-information">
                    @Model.ViewModel.Description
                </div>
            </div>
        </div>
    </div>


    <div class="topics-holder flex">
        <h3 class="text-center">Comments section</h3>
        <form method="post" class="text-center" asp-action="PostComment" asp-route-topicId="@Model.ViewModel.Id">
            <textarea asp-for="@Model.FormModel.Text" rows="4" placeholder="Your anwer here..."></textarea>
            <span asp-validation-for="@Model.FormModel.Text" class="small text-danger"></span>
            <input type="submit" value="Submit" class="btn btn-primary m-4"/>
        </form>
        @if (Model.ViewModel.Comments.Any())
        {
            @foreach (var comment in Model.ViewModel.Comments)
            {
                <div class="topic flex">
                    <img src="@comment.UserProfileImg" />
                    <div>
                        <div class="topic-heading">
                            <p class="small custom-text-muted">From: @comment.Username; posted on @comment.CreatedOn</p>
                        </div>
                        <div class="topic-information">
                            @comment.Description
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="text-center">There are no comments yet. Be the first to comment</h3>
        }
    </div>
</div>