@model TakeSurveyViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="survey">
    <div class="survey-heading text-center">
        <h1>
            Welcome to @Model.Name!
        </h1>
        <h3>
            Please give us 5 minutes to improve our quality!
        </h3>
    </div>
    <div class="question-list">
        <form asp-action="Take" asp-controller="Survey" method="post">
            @foreach (var question in Model.Questions)
            {
                <div class="question">
                    <div class="question-header">
                        @question.Name
                        <input hidden name="questionId" value="@question.Id"/>
                    </div>
                    <ul class="no-bullets">
                        @foreach (var answer in question.Answers)
                        {
                            <li>
                                <input type="radio" name="question_@question.Id" value="@answer.Id"/>
                                @answer.Text
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="mt-4 flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="Submit" />
                <input hidden value="@Model.Id" name="SurveyId"/>
            </div>
        </form>
    </div>
</div>