@{
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
    ViewData["Title"] = "Edit Course";
}
@model DeemZ.Models.FormModels.Course.EditCourseFormModel

<div class="container-fluid">
    <form method="post" class="mt-4">
        <div class="form-group text-center">
            <h2 class="text-light">@ViewData["Title"]</h2>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Name"></label>
            <input placeholder="@Model.Name" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="StartDate"></label>
            <input class="form-control" placeholder="@Model.StartDate" asp-for="StartDate" />
            <span asp-validation-for="StartDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="EndDate"></label>
            <input class="form-control" placeholder="@Model.EndDate" asp-for="EndDate" />
            <span asp-validation-for="EndDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Price"></label>
            <input placeholder="@Model.Price" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Credits"></label>
            <input placeholder="@Model.Credits" class="form-control" asp-for="Credits" />
            <span asp-validation-for="Credits" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="SignUpStartDate"></label>
            <input class="form-control" placeholder="@Model.SignUpStartDate" asp-for="SignUpStartDate" />
            <span asp-validation-for="SignUpStartDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="SignUpEndDate"></label>
            <input class="form-control" placeholder="@Model.SignUpEndDate" asp-for="SignUpEndDate" />
            <span asp-validation-for="SignUpEndDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Description"></label>
            <textarea class="form-control ckeditor" placeholder="@Model.Description" asp-for="Description" ></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="StartDateDescription"></label>
            <textarea class="form-control ckeditor" asp-for="StartDateDescription" ></textarea>
            <span asp-validation-for="StartDateDescription" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="LectureDescription"></label>
            <textarea class="form-control ckeditor" asp-for="LectureDescription" ></textarea>
            <span asp-validation-for="LectureDescription" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="ExamDescription"></label>
            <textarea class="form-control ckeditor" asp-for="ExamDescription" ></textarea>
            <span asp-validation-for="ExamDescription" class="small text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('#Content');
        });
    </script>
}