@{
    ViewData["Title"] = "ASP NET CORE";
}
@model DetailsCourseViewModel

<div class="course">
    <div class="course-heading p-5 text-center flex flex-column">
        <h1>ASP.NET Core - july 2021</h1>
        <div class="course-info flex flex-row justify-content-center">
            <div class="course-info flex flex-row custom-text-muted">
                <div class="start-date m-4">
                    <img src="https://softuni.bg/Content/images/icons/play-icon.svg" />
                    Start date: @Model.StartDate
                </div>
                <div class="credits m-4">
                    <img src="https://softuni.bg/Content/images/icons/timeline-icon.svg" />
                    @Model.Credits points
                </div>
            </div>
        </div>
    </div>
    <div class="course-subjects box-shadow-all-corners rounded">
        <h2 class="subjects">Subjects</h2>
        <ul class="course-list course-list-enroled no-bullets">
            @for (int i = 0; i < Model.Lectures.Count; i++)
            {
                DetailsLectureViewModel currentLecture = Model.Lectures[i];
                <li class="flex flex-column">
                    <div data-number="@currentLecture.Id" class="flex justify-content-between clickable">
                        <span class="lecture-title"><span class="lecture-number">@(i + 1)</span> @currentLecture.Name</span>
                        <div class="position-relative plus-close-holder">
                            <div class="horizontial-line lines"></div>
                            <div class="vertical-line lines"></div>
                        </div>
                    </div>
                    <div class="lecture-description">
                        <div>
                            <h2>@currentLecture.Name</h2>
                            <ul>
                                @if (currentLecture.Resourses.Any())
                                {
                                    @foreach (var description in currentLecture.Descriptions)
                                    {
                                        <li>
                                            @description.Name
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        This lecture has no description
                                    </li>
                                }
                            </ul>
                        </div>
                        <div>
                            <h2>Resourses</h2>
                            <ul class="no-bullets">
                                @if (currentLecture.Resourses.Any())
                                {
                                    foreach (var resource in currentLecture.Resourses)
                                    {
                                        <li>
                                            <a href="@resource.Path">
                                                @resource.Name
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        This lecture has no resources
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>