@model DetailsCourseViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="course">
    <div class="course-heading text-center flex flex-column">
        <h1>@Model.Name</h1>
        <div class="course-info flex flex-row justify-content-center">
            <div class="course-info flex flex-row custom-text-muted">
                <div class="start-date">
                    <img src="https://softuni.bg/Content/images/icons/play-icon.svg" />
                    Start date: @Model.StartDate
                </div>
                <div class="credits">
                    <img src="https://softuni.bg/Content/images/icons/timeline-icon.svg" />
                    @Model.Credits points
                </div>
            </div>
        </div>
    </div>
    <div class="course-subjects box-shadow-all-corners rounded">
        <h2 class="subjects">Subjects</h2>
        <ul class="course-list course-list-enroled no-bullets">
            @for (int i = 0; i < Model.Lectures.Count; i++)
            {
                DetailsLectureViewModel currentLecture = Model.Lectures[i];
                <li data-number="@currentLecture.Id" class="flex flex-column">
                    <div class="flex justify-content-between clickable">
                        <span class="lecture-title"><span class="lecture-number">@(i + 1)</span> @currentLecture.Name</span>
                        <div class="position-relative plus-close-holder">
                            <div class="horizontial-line lines"></div>
                            <div class="vertical-line lines"></div>
                        </div>
                    </div>
                    <div class="lecture-description">
                        <div>
                            <h2>@currentLecture.Name</h2>
                            <ul>
                                @if (currentLecture.Descriptions.Any())
                                {
                                    @foreach (var description in currentLecture.Descriptions)
                                    {
                                        <li>
                                            @description.Name;
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        This lecture has no description
                                    </li>
                                }
                            </ul>
                        </div>
                        <div>
                            <h2>Resourses</h2>
                            <ul class="no-bullets">
                                @if (currentLecture.Resourses.Any())
                                {
                                    foreach (var resource in currentLecture.Resourses)
                                    {
                                        <li>
                                            @if (resource.ResourceTypeIsRemote)
                                            {
                                                <a href="@resource.Path" target="_blank">@Html.Raw(resource.ResourceTypeIcon) @resource.Name</a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Resource" asp-action="ViewResource" asp-route-resourceId="@resource.Id">
                                                    @Html.Raw(resource.ResourceTypeIcon) @resource.Name
                                                </a>
                                            }
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        This lecture has no resources
                                    </li>
                                }
                                <li class="small">
                                    <a class="text-muted" asp-action="Add" asp-controller="Report" asp-route-lectureId="@currentLecture.Id">Report issue with resources or lecture</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    @if (Model.SignUpStartDate <= DateTime.UtcNow.ToLocalTime() && Model.SignUpEndDate > DateTime.UtcNow.ToLocalTime() && !Model.IsUserSignUpForThisCourse)
    {

        <div class="sign-up-for-course white-text text-center">
            You haven't sign up for this course yet, but you still can do it! By clicking <a asp-action="SignUp" asp-controller="Course" asp-route-courseId="@Model.Id">here</a>.
        </div>
    }
</div>