@model DeemZ.Models.ViewModels.Administration.AdministrationIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
}

<div class="container-fluid">
    <div class="cards">
        <div class="card user-card">
            <h4>Total users</h4>
            <h3>@Model.UsersCount</h3>
        </div>
        <div class="card this-month-money-card">
            <h4>This month earned money</h4>
            <h3>$@Model.MoneyEarnedThisMonth</h3>
        </div>
        <div class="card total-courses-card">
            <h4>Total courses</h4>
            <h3>@Model.TotalCourses</h3>
        </div>
        <div class="card this-month-user-card">
            <h4>This month sign up users</h4>
            <h3>@Model.UsersSignedUpThisMonth</h3>
        </div>
    </div>

    <partial name="_UserCoursePartial" model="Model.UserCourses" />

    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Index" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Index" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Index" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>