@model DeemZ.Models.ViewModels.Administration.ResourcesForCourseViewModel
@{
    ViewData["Title"] = "Resources";
    Layout = "_AdminPanelLayout";
}

<div class="container-fluid">
    <div class="text-center mt-5">
        <a asp-area="" asp-controller="Resource" asp-route-lectureId="@Model.LectureId" asp-action="Add" class="btn btn-success">Add Resource</a>
    </div>
    <table class="table table-striped table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">Resource Name</th>
                <th scope="col">Resource Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in Model.Recourses)
            {
            <tr>
                <td>@resource.Name</td>
                <td>@resource.ResourceTypeName</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-danger" asp-area="" asp-controller="Resource" asp-action="Delete" asp-route-resourceId="@resource.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Resources" asp-route-lectureId="@Model.LectureId" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Resources" asp-route-lectureId="@Model.LectureId" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Resources" asp-route-lectureId="@Model.LectureId" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>