@model DeemZ.Models.ViewModels.Administration.AdmistrationUsersViewModel
@{
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
    ViewData["Title"] = "Users";
}

<div class="container-fluid">
    <form method="get" class="mt-4">
        <div class="form-group">
            <label class="text-light" asp-for="SearchTerm"></label>
            <input class="form-control" asp-for="SearchTerm" />
            <span asp-validation-for="SearchTerm" class="small text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </form>
    <table class="table table-striped table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Sign Up Courses</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.TakenCoursesCount</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id">Edit</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pages flex">
        @if (Model.PreviousPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Users" asp-route-page="@Model.PreviousPage">
                    Last Page
                </a>
            </div>
        }
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Users" asp-route-page="@i">
                    @i
                </a>
            </div>
        }
        @if (Model.NextPage != null)
        {
            <div class="page-number">
                <a class="text-light" asp-controller="Administration" asp-action="Users" asp-route-page="@Model.NextPage">
                    Next Page
                </a>
            </div>
        }
    </div>
</div>