@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="form gray-background mt-4 round-bottom">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="image-holder">
            <img src="~/media/sign-in-background.png" />
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <div class="inner-addon">
                    <input asp-for="Input.Email" placeholder="Email" type="email" value="">
                    <i class="fa fa-envelope fa-envelope-custom" aria-hidden="true"></i>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon">
                    <input asp-for="Input.Password" placeholder="Password" type="password" value="">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <ul class="no-bullets">
                    <li>
                        <input type="checkbox" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe"></label>
                    </li>
                    <li>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </li>
                    <li>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </li>
                    <li>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
        </div>
    </form>
</div>




@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
