@model DeemZ.Models.ViewModels.Resources.DetailsResourseViewModel
@{
    ViewData["Title"] = Model.Name;

}

<div class="resource">
    <iframe src="@Model.Path" id="iframe" width="500" height="500" alt="If the resource is not loading please try to refresh the page."></iframe>
    <div>
        <p>Document for lesson '@Model.LectureName' from the course <a asp-controller="Course" asp-action="ViewCourse" asp-route-courseId="@Model.LectureCourseId">@Model.LectureCourseName</a></p>
        <p>Download document: <a asp-controller="Resource" asp-action="Download" asp-route-resourceId="@Model.Id">@Model.Name</a></p>
    </div>
</div>


@section Scripts{
    @if (!ViewBag.IsVideo)
    {
        <script>
        let googleViewerUrl = "https://drive.google.com/viewerng/viewer?url=";
        let resourceUrl = "@Model.Path";
        console.log(resourceUrl);

        document.getElementById('iframe').src = googleViewerUrl + resourceUrl +"&embedded=true";
        </script>
    }
}